<mat-toolbar>
  <span>Viatrix</span>
</mat-toolbar>

<mat-card class="text-content">
  <mat-card-content>
    <p>
      Example text to type/read.
    </p>
  </mat-card-content>
</mat-card>


<mat-card class="controls">
  <mat-card-content>
    <button class="buttons" mat-raised-button color="primary">Start</button>
    <button class="buttons" mat-raised-button color="accent">Stop</button>
    <button class="buttons" mat-raised-button color="warn">Reset</button>
  </mat-card-content>
</mat-card>
