<mat-toolbar>
  <span>Viatrix</span>
</mat-toolbar>

<mat-card class="text-content">
  <mat-card-header>
    <mat-card-title>
      <button mat-button disabled *ngIf="!time.startsWith('0')">
        {{ time }}
      </button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Example text to type/read.
    </p>
  </mat-card-content>
</mat-card>


<mat-card class="controls">
  <mat-card-content>
    <button class="buttons" mat-raised-button color="primary" (click)="startTimer()">Start</button>
    <button class="buttons" mat-raised-button color="accent" (click)="stopTimer()">Stop</button>
    <button class="buttons" mat-raised-button color="warn" (click)="resetTimer()">Reset</button>
  </mat-card-content>
</mat-card>
